/* Map chrome sits bottom-LEFT in the seat: the card owns the right
   column, and a grown Notes field must never sit under the expand
   button's hitbox. Raised above MapKit's Apple logo + Legal strip, which
   is a license surface, not decoration. Same-element override on the map
   overlay (no cross-module selector). */
.overlay {
  right: auto;
  left: calc(0.9rem + var(--ion-safe-area-left));
  bottom: calc(2.6rem + var(--ion-safe-area-bottom));
}
